# API Configuration
VITE_API_URL=https://finanse-server-gamma.vercel.app/api

# Google OAuth Configuration
VITE_GOOGLE_CLIENT_ID=381316880548-7b1rf0immde6bl3v23hf2lnrupejj6ov.apps.googleusercontent.com

# Stripe Configuration
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_...
