# Database Configuration
MONGO_URI=mongodb://localhost:27017/ai-finance-saas

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRES_IN=365d

# Google AI Configuration
GEMINI_API_KEY=your_gemini_api_key

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Email Configuration
RESEND_API_KEY=your_resend_api_key
RESEND_MAILER_SENDER=your_email@example.com

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...

# Frontend Configuration
FRONTEND_ORIGIN=https://ai-finance-saas-client.onrender.com

# Google OAuth Configuration
GOOGLE_CLIENT_ID=7b1rf0immde6bl3v23hf2Inrupejj6ov.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_client_secret_here

# Server Configuration
NODE_ENV=production
PORT=8000
BASE_PATH=/api
